.App {
  height: 100vh;

  display: grid;
  grid-template-areas: 'app-header app-header app-header app-header app-header' 'app-left app-mid app-mid app-mid app-right' 'app-left app-footer app-footer app-footer app-footer';
  grid-template-rows: 50px auto 50px;
  grid-gap: 10px;

  background: #092b2c;
  color: white;
}

.App-header {
  grid-area: app-header;

  background-color:#004646;

  padding: 10px;
  font-size: 20px;
  font-weight: bold;
}

.App-left {
  grid-area: app-left;
}

.App-mid {
  grid-area: app-mid;
}

.App-right {
  grid-area: app-right;
}

.App-footer {
  height: 30px;

  grid-area: app-footer;
}